Repository NextNodeSolutions/nextnode-front: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor(workflow): consolidate step illustrations into single component
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/workflow/cards/ExpandedCardBottomSheet.tsx
  src/components/features/workflow/cards/ExpandedCardModal.tsx
  src/components/features/workflow/cards/parts/AccordionBenefitItem.tsx
  src/components/features/workflow/cards/parts/AccordionDeliverableItem.tsx
  src/components/features/workflow/cards/parts/AccordionTimeline.tsx
  src/components/features/workflow/cards/parts/DragHandle.tsx
  src/components/features/workflow/cards/parts/MobileAccordionSection.tsx
  src/components/features/workflow/expanded/ModalHeroSection.tsx
  src/components/features/workflow/illustrations/DeploymentIllustration.tsx
  src/components/features/workflow/illustrations/DesignIllustration.tsx
  src/components/features/workflow/illustrations/DevelopmentIllustration.tsx
  src/components/features/workflow/illustrations/DiscoveryIllustration.tsx
  src/components/features/workflow/illustrations/StepIllustration.tsx
  src/components/features/workflow/illustrations/SupportIllustration.tsx
  src/components/features/workflow/illustrations/TestingIllustration.tsx
  src/components/features/workflow/illustrations/index.ts
  src/components/features/workflow/timeline/MobileTimeline.wrapper.astro
  src/components/features/workflow/timeline/MobileTimelineInteractive.tsx
  src/components/features/workflow/workflow-animation-config.ts
  src/hooks/index.ts
  src/hooks/useMediaQuery.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): enhance mobile bottom sheet UX with improved layout
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/workflow/cards/ExpandedCardBottomSheet.tsx
  src/components/features/workflow/timeline/MobileTimeline.astro
Due: pnpm lint --no-warn-ignored, prettier --write

fix(workflow): add consistent bottom padding to mobile bottom sheet
  src/components/features/workflow/cards/ExpandedCardBottomSheet.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

fix: remove unnecessary barrel file for single export
  src/components/features/workflow/cards/ExpandedCardBottomSheet.tsx
  src/components/features/workflow/expanded/ModalHeroSection.tsx
  src/components/features/workflow/illustrations/index.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: remove unnecessary wrapper functions in WorkflowCardsExpandable
  src/components/features/workflow/interactive/WorkflowCardsExpandable.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

fix: complete internationalization of pricing and code examples
  src/components/features/marketing/tech-expertise/components/BentoCodeExample.tsx
  src/components/features/pricing/pricing-config.ts
  src/components/features/workflow/cards/parts/DragHandle.tsx
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/en/pages/pricing.ts
  src/i18n/locales/en/pages/workflow.ts
  src/i18n/locales/fr/pages/home.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/i18n/locales/fr/pages/workflow.ts
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write

fix: use cn() utility for className in SkillIcon
  src/components/features/marketing/tech/SkillIcon.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

fix: remove empty string from PremiumHero cn() call
  src/components/features/marketing/hero/PremiumHero.astro
Due: prettier --write

fix: remove empty string from PricingCard CVA base classes
  src/components/features/pricing/PricingCard.astro
Due: prettier --write

fix: remove 2 empty strings from PricingHero badge cn() call
  src/components/features/pricing/PricingHero.astro
Due: prettier --write

fix: remove empty string from PricingIncludedCard CVA base classes
  src/components/features/pricing/PricingIncludedCard.astro
Due: prettier --write

fix: remove empty strings from PricingSupportLevelCard
  src/components/features/pricing/PricingSupportLevelCard.astro
Due: prettier --write

fix: restore pricing page display and CTA gradient animation
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingCardFeatures.astro
  src/components/features/pricing/PricingCardHeader.astro
  src/styles/animations.css
Due: prettier --write

fix: simplify CalActionButton gradient implementation
  src/components/ui/CalActionButton.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: remove dead code and simplify component architecture
  src/components/features/workflow/cards/parts/IconBadge.tsx
  src/components/features/workflow/cards/parts/NumberBadge.tsx
  src/components/features/workflow/cards/parts/PulseElements.tsx
  src/components/features/workflow/cards/parts/StepCardContainer.tsx
  src/components/features/workflow/cards/parts/StepCardContent.tsx
  src/components/features/workflow/cards/parts/StepCardDescription.tsx
  src/components/features/workflow/cards/parts/StepCardFooter.tsx
  src/components/features/workflow/cards/parts/StepCardGradientOverlay.tsx
  src/components/features/workflow/cards/parts/StepCardHeader.tsx
  src/components/features/workflow/cards/parts/StepCardTitle.tsx
  src/components/features/workflow/cards/step-card-variants.ts
  src/components/features/workflow/expanded/glass-constants.ts
  src/components/features/workflow/expanded/glass/GlassPanel.tsx
  src/components/features/workflow/expanded/glass/glass-panel-variants.ts
  src/components/ui/forms/ButtonWithLink.tsx
  src/components/ui/patterns/PatternBackground.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

feat: add trusted by section with optimized client logos
  .prettierignore
  public/clients/24391265.png
  public/clients/Allianz.svg
  public/clients/Logo_Hermès.svg
  public/clients/logo.png
  src/assets/clients/allianz-trade.png
  src/assets/clients/certigo.png
  src/assets/clients/hermes.png
  src/assets/clients/igocreate.png
  src/components/features/marketing/trust/InfiniteLogoMarquee.tsx
  src/components/features/marketing/trust/InfiniteLogoMarquee.wrapper.astro
  src/components/features/marketing/trust/TrustedBy.astro
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
  src/lib/core/image-optimizer.ts
  src/pages/[locale]/index.astro
  src/styles/animations.css
  src/styles/keyframes.css
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(trust): modernize logo marquee with Framer Motion and clean design
  src/components/features/marketing/trust/InfiniteLogoMarquee.tsx
  src/components/features/marketing/trust/InfiniteLogoMarquee.wrapper.astro
  src/components/features/marketing/trust/TrustedBy.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: reorganize file structure and remove unused code
  astro.config.mjs
  src/components/common/CalActionButton.tsx
  src/components/common/CalEmbed.tsx
  src/components/common/GoogleAnalytics.astro
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/services/ServiceCard.astro
  src/components/features/marketing/services/ServicesGrid.astro
  src/components/features/marketing/tech-expertise/components/BentoQualityBadges.tsx
  src/components/features/marketing/tech-expertise/components/BentoSEO.tsx
  src/components/features/marketing/tech-expertise/components/PerformanceMetricItem.tsx
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/components/features/workflow/expanded/ModalVisualTimeline.tsx
  src/hooks/__tests__/useOutsideClick.test.tsx
  src/hooks/index.ts
  src/hooks/useMediaQuery.ts
  src/hooks/useOutsideClick.ts
  src/i18n/locales/en/pages/pricing.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/lib/config/pricing/pricing-config.ts
  src/lib/ui/icon-mapper.tsx
  src/lib/ui/marketing-constants.ts
  src/styles/fonts-code.css
Due: pnpm lint --no-warn-ignored, prettier --write

perf(trust): improve CLS by changing logo marquee to client:visible
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/trust/InfiniteLogoMarquee.wrapper.astro
Due: prettier --write, better-sort-package-json

chore: remove develop branch infrastructure and theme middleware
  .github/workflows/deploy-dev.yml
  .github/workflows/pr-preview.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/components/layout/header/desktop/ControlsDesktop.astro
  src/lib/middleware/theme.ts
  src/middleware.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

first commit
  .env.example
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
  .github/workflows/test.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  Dockerfile
  README.md
  astro.config.mjs
  biome.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon.svg
  public/robots.txt
  railway.toml
  src/components/Features.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/layouts/BaseLayout.astro
  src/lib/logging/index.ts
  src/pages/health.ts
  src/pages/index.astro
  src/styles/global.css
  tests/example.test.ts
  tests/setup.ts
  tsconfig.json
  types/env.d.ts
  types/global.d.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

chore: apply formatting fixes
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  README.md
  biome.json
  pnpm-workspace.yaml
  src/components/Features.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/layouts/BaseLayout.astro
  src/lib/logging/index.ts
  src/pages/health.ts
  src/pages/index.astro
  src/styles/global.css
  tests/example.test.ts
  tsconfig.json
  types/env.d.ts
  types/global.d.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat: add React integration and update dependencies
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

feat(sas-38): add cn() utility for className merging
  src/lib/utils.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat: add Ralph autonomous AI loop integration
  .gitignore
  scripts/ralph/CLAUDE.md
  scripts/ralph/prd.json.example
  scripts/ralph/ralph.sh
Due: prettier --write

feat(ci): migrate workflows to dokploy-deploy with approval gate
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
  .github/workflows/test.yml
  dokploy.toml
Due: none

chore: update dependencies and refactor components
  .lintstagedrc.json
  README.md
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/Features.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/layouts/BaseLayout.astro
  src/lib/logging/index.ts
  src/pages/health.ts
  src/pages/index.astro
  src/styles/global.css
  tests/example.test.ts
  tsconfig.json
  types/env.d.ts
  types/global.d.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix(deps): update packages to resolve security vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

ci(workflow): trigger dev deploy on push to main
  .github/workflows/deploy-dev.yml
Due: none

refactor(ci): migrate workflows from dokploy-deploy to app-deploy
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
  dokploy.toml
Due: none

feat(deps): add buio migration dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

feat(fonts): add self-hosted variable fonts
  public/fonts/eb-garamond/EBGaramondVF-Italic.woff2
  public/fonts/eb-garamond/EBGaramondVF.woff2
  public/fonts/geist-mono/GeistMonoVF.woff2
  public/fonts/geist/GeistVF.woff2
Due: none

feat(fonts): add Fonts.astro with @font-face declarations
  src/components/fundations/head/Fonts.astro
  tests/components/fundations/head/Fonts.test.ts
Due: pnpm lint --no-warn-ignored, prettier --write

Path conditions:
  pnpm lint --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,astro,json,jsonc,md}
  better-sort-package-json: any of: package.json
