Repository NextNodeSolutions/nextnode-front: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: simplify StepIllustrations with type-safe icon mapping
  src/components/features/workflow/visual/StepIllustrations.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: extract SkillIcon component and remove unused WorkflowSVGLayer
  src/components/features/marketing/tech/OrbitingTech.tsx
  src/components/features/marketing/tech/SkillIcon.tsx
  src/components/features/workflow/interactive/WorkflowSVGLayer.astro
Due: pnpm lint --no-warn-ignored, prettier --write

chore: remove 10 unused components and files (941 lines)
  src/components/features/marketing/hero/Welcome.astro
  src/components/features/marketing/interaction/ScrollIndicator.astro
  src/components/features/marketing/panels/MobileSidePanel.astro
  src/components/features/marketing/panels/SidePanel.astro
  src/components/features/marketing/tech/TechGrid.astro
  src/components/features/marketing/workflow/WorkflowTimeline.astro
  src/components/features/workflow/cards/WorkflowStepCard.astro
  src/components/features/workflow/visual/StepIllustrations.tsx
  src/lib/analytics/events.ts
  src/lib/ui/ui-constants.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: remove 10 more unused files and fix imports (861 lines)
  emails/preview-project-request.tsx
  src/components/features/marketing/hero/HeroContent.astro
  src/components/features/marketing/tech-expertise/components/InfiniteMarquee.tsx
  src/components/seo/LocalBusinessSchema.astro
  src/components/ui/Accordion.tsx
  src/components/ui/animation/AnimatedList.astro
  src/components/ui/animation/AnimatedList.tsx
  src/components/ui/forms/FormField.tsx
  src/components/ui/forms/SelectLegacy.tsx
  src/hooks/index.ts
  src/hooks/useCardEventListeners.ts
  src/hooks/useKeyboardShortcuts.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: simplify manualChunks config and clean up CalEmbed
  astro.config.mjs
  src/components/ui/CalEmbed.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(pricing): migrate to global blue/green color system
  src/components/common/GradientCircle.astro
  src/components/features/pricing/PricingHero.astro
  src/lib/ui/pricing-constants.ts
  src/pages/404.astro
  src/pages/[locale]/pricing.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(pricing): apply SOLID principles with cva-based component architecture
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingCardBadge.astro
  src/components/features/pricing/PricingCardCTA.astro
  src/components/features/pricing/PricingCardExamples.astro
  src/components/features/pricing/PricingCardFeatures.astro
  src/components/features/pricing/PricingCardHeader.astro
  src/lib/ui/pricing-constants.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(ui): rename GradientCalButton to CalCTAButton with semantic variants
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingCardCTA.astro
  src/components/ui/CalCTAButton.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(ui): implement clean CVA architecture for CalActionButton with size variants
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/components/ui/CalActionButton.tsx
  src/components/ui/CalCTAButton.tsx
  src/components/ui/CalEmbed.tsx
  src/components/ui/forms/Button.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

Refactor pricing page with modern design system and semantic component architecture (#53)
  src/components/common/GradientCircle.astro
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingCardBadge.astro
  src/components/features/pricing/PricingCardExamples.astro
  src/components/features/pricing/PricingCardFeatures.astro
  src/components/features/pricing/PricingCardHeader.astro
  src/components/features/pricing/PricingHero.astro
  src/components/ui/CalActionButton.tsx
  src/components/ui/CalEmbed.tsx
  src/components/ui/GradientCalButton.tsx
  src/components/ui/forms/Button.tsx
  src/lib/ui/pricing-constants.ts
  src/pages/404.astro
  src/pages/[locale]/pricing.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: complete animation class standardization with .animate-* prefix
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/workflow/cards/StepCardContainer.astro
  src/components/features/workflow/interactive/WorkflowCardsLayer.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/timeline/TimelineNode.astro
  src/components/layout/header/Navigation.astro
  src/components/ui/ScrollIndicator.astro
  src/styles/animations.css
Due: prettier --write

refactor: split animations into keyframes and classes with CSS variables
  src/layouts/BaseLayout.astro
  src/styles/animations.css
  src/styles/base.css
  src/styles/keyframes.css
Due: prettier --write

feat: implement scroll-triggered animations for pricing page
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingCardBadge.astro
  src/components/features/pricing/PricingCardFeatures.astro
  src/components/features/pricing/PricingCardHeader.astro
  src/components/features/pricing/PricingHero.astro
  src/components/features/pricing/PricingObserver.ts
  src/lib/config/pricing/pricing-animation-config.ts
  src/pages/[locale]/pricing.astro
  src/styles/animations.css
  src/styles/design-tokens.css
  src/styles/keyframes.css
Due: pnpm lint --no-warn-ignored, prettier --write

fix: eliminate React hydration flicker with generic scroll observer
  src/components/features/marketing/tech-expertise/TechExpertiseBento.astro
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/features/marketing/tech/TechTransformationObserver.ts
  src/hooks/useScrollAnimation.ts
  src/lib/observers/scroll-animation-observer.ts
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write

fix: remove unused children prop from TechExpertiseBento
  src/components/features/marketing/tech-expertise/TechExpertiseBento.astro
Due: prettier --write

refactor: migrate WorkflowObserver to generic scroll observer
  src/components/features/workflow/WorkflowObserver.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: remove unused components and dependencies
  package.json
  pnpm-lock.yaml
  src/components/features/legal/LegalContent.astro
  src/components/features/marketing/stats/StatsCounter.tsx
  src/components/features/marketing/stats/StatsSection.tsx
  src/components/ui/forms/Input.tsx
  src/components/ui/forms/Select.tsx
  src/components/ui/forms/Textarea.tsx
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: eliminate duplicate keyframe in TechExpertiseBento
  src/components/features/marketing/tech-expertise/TechExpertiseBento.astro
Due: prettier --write

refactor: centralize prefers-reduced-motion rules in animations.css
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/timeline/TimelineNode.astro
  src/lib/config/pricing/pricing-animation-config.ts
  src/styles/animations.css
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: consolidate scroll observers into single generic library
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/marketing/tech/TechTransformationObserver.ts
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/pricing/PricingObserver.ts
  src/components/features/workflow/WorkflowObserver.ts
  src/lib/observers/observer-configs.ts
  src/lib/observers/scroll-animation-observer.ts
  src/pages/[locale]/pricing.astro
Due: pnpm lint --no-warn-ignored, prettier --write

fix: eliminate card animation flicker with GPU acceleration
  src/components/features/marketing/tech/TechTransformation.astro
  src/lib/config/marketing/tech-animation-config.ts
  src/styles/keyframes.css
Due: pnpm lint --no-warn-ignored, prettier --write

fix: improve scroll animation detection for initially visible sections
  src/components/features/pricing/PricingIncludedCard.astro
  src/components/features/pricing/PricingSupportLevelCard.astro
  src/lib/config/pricing/pricing-animation-config.ts
  src/lib/observers/scroll-animation-observer.ts
  src/pages/[locale]/pricing.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: decompose parseRootMargin into smaller focused functions
  src/lib/observers/scroll-animation-observer.ts
Due: pnpm lint --no-warn-ignored, prettier --write

Implement SEO optimization for Paris local search visibility (#48)
  astro.config.mjs
  src/lib/logging/index.ts
Due: pnpm lint --no-warn-ignored, prettier --write

Implement Phase 2 SEO optimizations for enhanced Paris local search visibility (#50)
  astro.config.mjs
  src/lib/logging/index.ts
Due: pnpm lint --no-warn-ignored, prettier --write

Standardize animation system with CSS keyframes and utility classes (#54)
  package.json
  pnpm-lock.yaml
  src/components/features/legal/LegalContent.astro
  src/components/features/marketing/stats/StatsCounter.tsx
  src/components/features/marketing/stats/StatsSection.tsx
  src/components/features/marketing/tech-expertise/TechExpertiseBento.astro
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/marketing/tech/TechTransformationObserver.ts
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingCardBadge.astro
  src/components/features/pricing/PricingCardFeatures.astro
  src/components/features/pricing/PricingCardHeader.astro
  src/components/features/pricing/PricingHero.astro
  src/components/features/pricing/PricingIncludedCard.astro
  src/components/features/pricing/PricingSupportLevelCard.astro
  src/components/features/workflow/WorkflowObserver.ts
  src/components/features/workflow/cards/StepCardContainer.astro
  src/components/features/workflow/interactive/WorkflowCardsLayer.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/timeline/TimelineNode.astro
  src/components/layout/header/Navigation.astro
  src/components/ui/ScrollIndicator.astro
  src/components/ui/forms/Input.tsx
  src/components/ui/forms/Select.tsx
  src/components/ui/forms/Textarea.tsx
  src/hooks/useScrollAnimation.ts
  src/layouts/BaseLayout.astro
  src/lib/config/marketing/tech-animation-config.ts
  src/lib/config/pricing/pricing-animation-config.ts
  src/lib/observers/observer-configs.ts
  src/lib/observers/scroll-animation-observer.ts
  src/pages/[locale]/index.astro
  src/pages/[locale]/pricing.astro
  src/styles/animations.css
  src/styles/base.css
  src/styles/design-tokens.css
  src/styles/keyframes.css
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

feat: add PR preview deployment workflows
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
Due: none

perf: optimize CSS loading with critical inline and async strategies
  astro.config.mjs
  src/layouts/BaseLayout.astro
Due: prettier --write

perf: self-host fonts with optimized woff2 and preload
  public/fonts/inter-400-latin-ext.woff2
  public/fonts/inter-400-latin.woff2
  public/fonts/inter-500-latin-ext.woff2
  public/fonts/inter-500-latin.woff2
  public/fonts/inter-600-latin-ext.woff2
  public/fonts/inter-600-latin.woff2
  public/fonts/inter-700-latin-ext.woff2
  public/fonts/inter-700-latin.woff2
  public/fonts/jetbrains-400-latin-ext.woff2
  public/fonts/jetbrains-400-latin.woff2
  public/fonts/jetbrains-500-latin-ext.woff2
  public/fonts/jetbrains-500-latin.woff2
  src/components/common/SEO.astro
  src/layouts/BaseLayout.astro
  src/styles/fonts.css
Due: prettier --write

perf: add Brotli compression and optimal cache headers
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/middleware/cache.ts
  src/middleware.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

perf: migrate logo to Astro Image component with optimizations
  src/assets/logo.png
  src/components/layout/header/Logo.astro
Due: prettier --write

fix: remove AVIF format to prevent 500 error on logo
  src/components/layout/header/Logo.astro
Due: prettier --write

fix: replace astro-compress with vite-plugin-compression
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

feat: add automatic DNS configuration for PR previews
  .github/workflows/pr-preview.yml
Due: none

fix: migrate Docker base image from Alpine to Debian-slim
  Dockerfile
Due: none

Path conditions:
  pnpm lint --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,astro,json,jsonc,md}
  better-sort-package-json: any of: package.json
