Repository NextNodeSolutions/nextnode-front: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["pnpm lint --no-warn-ignored"],
	"*.{js,jsx,ts,tsx,astro,json,jsonc,md}": ["prettier --write"],
	"package.json": ["better-sort-package-json"]
}

refactor: clean up unused environment variables
  .env.docker
  .env.docker.example
  .env.production
Due: none

refactor: comprehensive code cleanup and type consolidation
  src/components/features/workflow/cards/StepCard.astro
  src/components/features/workflow/workflow-constants.ts
  src/components/layout/header/mobile/mobile-menu.astro
  src/components/layout/header/navigation.astro
  src/hooks/index.ts
  src/i18n/config.ts
  src/i18n/locales/fr/index.ts
  src/i18n/types.ts
  src/lib/constants.ts
  src/lib/i18n/astro.ts
  src/lib/i18n/context-provider.tsx
  src/lib/i18n/index.ts
  src/lib/i18n/react.tsx
  src/lib/i18n/translate-utils.ts
  src/lib/i18n/utils.ts
  src/lib/utils/api-response.ts
  src/pages/api/send-email.ts
  types/global.d.ts
  types/i18n.d.ts
  types/workflow.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: remove unused Docker Compose and Bake configuration
  .dockerignore
  .env.docker
  .env.docker.example
  docker-bake.hcl
  docker-compose.yml
Due: none

refactor: optimize TypeScript types and consolidate global declarations
  src/components/ui/forms/FormField.tsx
  src/lib/i18n/astro.ts
  src/lib/i18n/context-provider.tsx
  src/lib/i18n/react.tsx
  types/global.d.ts
  types/i18n.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat: add 500 internal server error page with i18n support
  src/i18n/locales/en/pages/error.ts
  src/i18n/locales/fr/pages/error.ts
  src/pages/500.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: standardize file naming conventions to PascalCase
  src/components/common/GradientCircle.astro
  src/components/features/legal/LegalContent.astro
  src/components/features/legal/Section.astro
  src/components/features/marketing/hero/HeroContent.astro
  src/components/features/marketing/hero/Welcome.astro
  src/components/features/marketing/interaction/ScrollIndicator.astro
  src/components/features/marketing/panels/MobileSidePanel.astro
  src/components/features/marketing/panels/SidePanel.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/components/features/workflow/cards/StepCard.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/layout/footer/Footer.astro
  src/components/layout/header/Controls.astro
  src/components/layout/header/Header.astro
  src/components/layout/header/Logo.astro
  src/components/layout/header/Navigation.astro
  src/components/layout/header/desktop/ControlsDesktop.astro
  src/components/layout/header/mobile/ControlsMobile.astro
  src/components/layout/header/mobile/MobileButton.astro
  src/components/layout/header/mobile/MobileMenu.astro
  src/components/ui/Accordion.tsx
  src/components/ui/forms/Button.tsx
  src/components/ui/forms/ButtonWithLink.tsx
  src/components/ui/forms/FormField.tsx
  src/components/ui/forms/Input.tsx
  src/components/ui/forms/Select.tsx
  src/components/ui/forms/Textarea.tsx
  src/components/ui/patterns/PatternBackground.astro
  src/components/ui/patterns/SvgPatternGenerator.astro
  src/layouts/BaseLayout.astro
  src/lib/i18n/ContextProvider.tsx
  src/lib/i18n/I18nReact.tsx
  src/pages/404.astro
  src/pages/500.astro
  src/pages/[locale]/how-we-work.astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/pricing.astro
  src/pages/[locale]/privacy.astro
  src/pages/[locale]/terms.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: standardize file naming conventions to PascalCase (#47)
  src/components/common/GradientCircle.astro
  src/components/features/legal/LegalContent.astro
  src/components/features/legal/Section.astro
  src/components/features/marketing/hero/HeroContent.astro
  src/components/features/marketing/hero/Welcome.astro
  src/components/features/marketing/interaction/ScrollIndicator.astro
  src/components/features/marketing/panels/MobileSidePanel.astro
  src/components/features/marketing/panels/SidePanel.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/components/features/workflow/cards/StepCard.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/layout/footer/Footer.astro
  src/components/layout/header/Controls.astro
  src/components/layout/header/Header.astro
  src/components/layout/header/Logo.astro
  src/components/layout/header/Navigation.astro
  src/components/layout/header/desktop/ControlsDesktop.astro
  src/components/layout/header/mobile/ControlsMobile.astro
  src/components/layout/header/mobile/MobileButton.astro
  src/components/layout/header/mobile/MobileMenu.astro
  src/components/ui/Accordion.tsx
  src/components/ui/forms/Button.tsx
  src/components/ui/forms/ButtonWithLink.tsx
  src/components/ui/forms/FormField.tsx
  src/components/ui/forms/Input.tsx
  src/components/ui/forms/Select.tsx
  src/components/ui/forms/Textarea.tsx
  src/components/ui/patterns/PatternBackground.astro
  src/components/ui/patterns/SvgPatternGenerator.astro
  src/layouts/BaseLayout.astro
  src/lib/i18n/ContextProvider.tsx
  src/lib/i18n/I18nReact.tsx
  src/pages/404.astro
  src/pages/500.astro
  src/pages/[locale]/how-we-work.astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/pricing.astro
  src/pages/[locale]/privacy.astro
  src/pages/[locale]/terms.astro
Due: pnpm lint --no-warn-ignored, prettier --write

feat: implement SEO Phase 1 optimization for Paris local search
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/components/common/SEO.astro
  src/i18n/locales/en/common.ts
  src/i18n/locales/fr/common.ts
  src/layouts/BaseLayout.astro
  src/lib/logging/index.ts
  src/lib/seo/schema.ts
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

chore: remove unused .env.docker files
  .env.docker
  .env.docker.example
Due: none

docs: update README and CLAUDE.md with SEO features
  CLAUDE.md
  README.md
Due: prettier --write

Implement SEO optimization for Paris local search visibility (#48)
  .env.docker
  .env.docker.example
  CLAUDE.md
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/components/common/SEO.astro
  src/i18n/locales/en/common.ts
  src/i18n/locales/fr/common.ts
  src/layouts/BaseLayout.astro
  src/lib/logging/index.ts
  src/lib/seo/schema.ts
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix: pass Railway environment variables to Docker runtime
  Dockerfile
Due: none

fix: pass Railway environment variables to Docker runtime (#49)
  Dockerfile
Due: none

feat: implement SEO Phase 2 optimizations for Paris local search
  astro.config.mjs
  public/robots.txt
  src/components/analytics/GoogleAnalytics.astro
  src/components/common/SEO.astro
  src/components/seo/LocalBusinessSchema.astro
  src/i18n/locales/fr/components/footer.ts
  src/i18n/locales/fr/pages/home.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/lib/analytics/events.ts
  src/pages/sitemap.xml.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat(seo): implement phase 2 optimizations for Paris local SEO
  src/components/analytics/GoogleAnalytics.astro
  src/components/seo/LocalBusinessSchema.astro
  src/i18n/locales/fr/pages/home.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/lib/analytics/events.ts
  src/pages/sitemap.xml.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat(seo): add missing site.webmanifest file and optimize logging
  astro.config.mjs
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/logo.png
  public/site.webmanifest
  src/lib/logging/index.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat(seo): migrate to automatic sitemap generation with @astrojs/sitemap
  CLAUDE.md
  astro.config.mjs
  src/components/analytics/GoogleAnalytics.astro
  src/pages/sitemap.xml.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat(analytics): configure Google Analytics via environment variable
  .env.example
  Dockerfile
  src/components/analytics/GoogleAnalytics.astro
Due: prettier --write

Implement Phase 2 SEO optimizations for enhanced Paris local search visibility (#50)
  .env.example
  CLAUDE.md
  Dockerfile
  astro.config.mjs
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/logo.png
  public/robots.txt
  public/site.webmanifest
  src/components/analytics/GoogleAnalytics.astro
  src/components/common/SEO.astro
  src/components/seo/LocalBusinessSchema.astro
  src/i18n/locales/fr/components/footer.ts
  src/i18n/locales/fr/pages/home.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/lib/analytics/events.ts
  src/lib/logging/index.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix(docker): pass URL and GA_MEASUREMENT_ID to build stage
  Dockerfile
Due: none

docs: improve configuration logging comment for clarity
  astro.config.mjs
Due: none

Fix Docker build by passing URL and analytics environment variables (#51)
  Dockerfile
  astro.config.mjs
Due: none

feat: add new logo assets and remove old logo
  public/logo-1.png
  public/logo-2.png
  public/logo-mini.png
  public/logo.png
Due: none

feat: center logo on mobile header when menu is closed
  src/components/layout/header/Header.astro
Due: prettier --write

feat: integrate Cal.com booking system with translations
  public/logo-1.png
  public/logo-2.png
  public/logo-mini.png
  src/components/features/marketing/hero/HeroContent.astro
  src/components/layout/header/Logo.astro
  src/components/layout/header/mobile/MobileMenu.astro
  src/i18n/locales/en/common.ts
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/common.ts
  src/i18n/locales/fr/pages/home.ts
  src/layouts/BaseLayout.astro
Due: pnpm lint --no-warn-ignored, prettier --write

feat: modernize Cal.com integration with React component
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/hero/HeroContent.astro
  src/components/ui/CalEmbed.tsx
  src/i18n/locales/en/common.ts
  src/i18n/locales/fr/common.ts
  src/layouts/BaseLayout.astro
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: modularize BaseLayout scripts with TypeScript client modules
  src/layouts/BaseLayout.astro
  src/lib/client/init-critical.ts
  src/lib/client/language-manager.ts
  src/lib/client/theme-manager.ts
  types/global.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: modernize cookie management with Cookie Store API
  src/components/features/marketing/hero/HeroContent.astro
  src/components/ui/CalEmbed.tsx
  src/lib/client/language-manager.ts
  src/lib/i18n/astro.ts
  src/lib/utils/cookies.test.ts
  src/lib/utils/cookies.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat: create unified storage manager for client preferences
  src/lib/client/storage-manager.ts
  types/global.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: integrate storage manager with theme system
  src/components/layout/header/desktop/ControlsDesktop.astro
  src/components/layout/header/mobile/ControlsMobile.astro
  src/lib/client/init-critical.ts
  src/lib/client/theme-manager.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: migrate language preferences to unified storage
  src/lib/client/language-manager.ts
  src/lib/i18n/I18nReact.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: simplify and dynamize URL mapping middleware
  src/i18n/config.ts
  src/lib/middleware/url-mapping.ts
  src/lib/middleware/utils.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: finalize cookie management migration
  astro.config.mjs
  package.json
  src/components/layout/header/desktop/ControlsDesktop.astro
  src/components/layout/header/mobile/ControlsMobile.astro
  src/i18n/config.ts
  src/lib/client/init-critical.ts
  src/lib/client/language-manager.ts
  src/lib/client/storage-manager.ts
  src/lib/client/theme-manager.ts
  src/lib/constants.ts
  src/lib/cookies/__tests__/cookie-store-strategy.test.ts
  src/lib/cookies/__tests__/document-cookie-strategy.test.ts
  src/lib/cookies/__tests__/errors.test.ts
  src/lib/cookies/__tests__/factory.test.ts
  src/lib/cookies/__tests__/index.test.ts
  src/lib/cookies/__tests__/server.test.ts
  src/lib/cookies/__tests__/test-helpers.ts
  src/lib/cookies/cookie-store-strategy.ts
  src/lib/cookies/document-cookie-strategy.ts
  src/lib/cookies/errors.ts
  src/lib/cookies/factory.ts
  src/lib/cookies/index.ts
  src/lib/cookies/server.ts
  src/lib/cookies/types.ts
  src/lib/email/providers/resend.ts
  src/lib/i18n/ContextProvider.tsx
  src/lib/i18n/I18nReact.tsx
  src/lib/i18n/astro.ts
  src/lib/logging/index.ts
  src/lib/middleware/i18n.ts
  src/lib/middleware/logging.ts
  src/lib/middleware/utils.ts
  src/lib/utils/cookies.test.ts
  src/lib/utils/cookies.ts
  src/lib/utils/local-storage.ts
  src/pages/api/send-email.ts
  src/pages/debug/config.ts
  types/cookie-store.d.ts
  types/global.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: extract theme middleware and complete storage migration
  astro.config.mjs
  package.json
  src/components/analytics/GoogleAnalytics.astro
  src/components/layout/header/desktop/ControlsDesktop.astro
  src/components/layout/header/mobile/ControlsMobile.astro
  src/layouts/BaseLayout.astro
  src/lib/client/init-critical.ts
  src/lib/client/language-manager.ts
  src/lib/client/theme-manager.ts
  src/lib/cookies/document-cookie-strategy.ts
  src/lib/cookies/factory.ts
  src/lib/middleware/theme.ts
  src/lib/middleware/utils.ts
  src/lib/utils/local-storage.ts
  src/middleware.ts
  types/global.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

feat: big refactor
  astro.config.mjs
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/services/ServiceCard.astro
  src/components/features/marketing/services/ServicesGrid.astro
  src/components/features/marketing/stats/StatsSection.tsx
  src/components/features/marketing/tech/TechGrid.astro
  src/components/features/marketing/workflow/WorkflowTimeline.astro
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
  src/lib/middleware/url-mapping.ts
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: redesign Hero with grid system and simplified layout
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/DashboardMockup.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/stats/StatsSection.tsx
  src/layouts/BaseLayout.astro
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: pnpm lint --no-warn-ignored, prettier --write

style: homogenize section styling with grid patterns and animations
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/services/ServicesGrid.astro
  src/components/features/marketing/tech/TechGrid.astro
  src/pages/[locale]/index.astro
Due: prettier --write

refactor: move navigationLinks to global constants
  src/components/layout/header/Header.astro
  src/i18n/config.ts
  src/lib/constants.ts
Due: pnpm lint --no-warn-ignored, prettier --write
