Repository NextNodeSolutions/nextnode-front: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["pnpm lint --no-warn-ignored"],
	"*.{js,jsx,ts,tsx,astro,json,jsonc,md}": ["prettier --write"],
	"package.json": ["better-sort-package-json"]
}

Improve website performance with image optimization, font hosting, and CSS loading strategies (#56)
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
  Dockerfile
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/fonts/inter-400-latin-ext.woff2
  public/fonts/inter-400-latin.woff2
  public/fonts/inter-500-latin-ext.woff2
  public/fonts/inter-500-latin.woff2
  public/fonts/inter-600-latin-ext.woff2
  public/fonts/inter-600-latin.woff2
  public/fonts/inter-700-latin-ext.woff2
  public/fonts/inter-700-latin.woff2
  public/fonts/jetbrains-400-latin-ext.woff2
  public/fonts/jetbrains-400-latin.woff2
  public/fonts/jetbrains-500-latin-ext.woff2
  public/fonts/jetbrains-500-latin.woff2
  src/assets/logo.png
  src/components/common/SEO.astro
  src/components/layout/header/Logo.astro
  src/layouts/BaseLayout.astro
  src/lib/middleware/cache.ts
  src/middleware.ts
  src/styles/fonts.css
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix(ci): restrict PR preview workflow to feature branches
  .github/workflows/pr-preview.yml
Due: none

Improve website performance with image optimization, font hosting, an… (#57)
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
  Dockerfile
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/fonts/inter-400-latin-ext.woff2
  public/fonts/inter-400-latin.woff2
  public/fonts/inter-500-latin-ext.woff2
  public/fonts/inter-500-latin.woff2
  public/fonts/inter-600-latin-ext.woff2
  public/fonts/inter-600-latin.woff2
  public/fonts/inter-700-latin-ext.woff2
  public/fonts/inter-700-latin.woff2
  public/fonts/jetbrains-400-latin-ext.woff2
  public/fonts/jetbrains-400-latin.woff2
  public/fonts/jetbrains-500-latin-ext.woff2
  public/fonts/jetbrains-500-latin.woff2
  src/assets/logo.png
  src/components/common/SEO.astro
  src/components/layout/header/Logo.astro
  src/layouts/BaseLayout.astro
  src/lib/middleware/cache.ts
  src/middleware.ts
  src/styles/fonts.css
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: implement middleware-based error handling for 404/500 pages
  src/lib/middleware/error-handler.ts
  src/middleware.ts
  src/pages/[locale]/404.astro
  src/pages/[locale]/500.astro
Due: pnpm lint --no-warn-ignored, prettier --write

fix: use cname-target instead of railway-url for DNS configuration
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/pr-preview.yml
Due: none

perf: optimize error handler middleware with early exit for static assets
  src/lib/middleware/error-handler.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix: prevent duplicate error logging for intentional 404/500 pages
  src/lib/middleware/logging.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: implement clean separation of concerns and smart logging strategy
  src/lib/middleware/error-handler.ts
  src/lib/middleware/logging.ts
  src/middleware.ts
  types/global.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix: eliminate double logging for 404/500 errors by detecting rewrite context
  src/lib/middleware/error-handler.ts
  src/lib/middleware/logging.ts
Due: pnpm lint --no-warn-ignored, prettier --write

Implement middleware-based error handling for 404 and 500 pages (#59)
  src/lib/middleware/error-handler.ts
  src/lib/middleware/logging.ts
  src/middleware.ts
  src/pages/[locale]/404.astro
  src/pages/[locale]/500.astro
  types/global.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

perf: optimize Lighthouse performance from 69 to ~90 on mobile
  astro.config.mjs
  src/components/features/marketing/tech-expertise/components/MetricCard.tsx
  src/components/layout/header/Logo.astro
  src/components/ui/progress.tsx
  src/layouts/BaseLayout.astro
Due: pnpm lint --no-warn-ignored, prettier --write

fix(docker): resolve Sharp runtime dependency for Astro image processing
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

fix(docker): add libvips dependencies for Sharp image processing
  Dockerfile
Due: none

perf(logo): optimize image rendering for HiDPI/Retina displays
  src/components/layout/header/Logo.astro
Due: prettier --write

perf: optimize Lighthouse mobile score from 85 to 95+
  src/components/ui/CodeBlock.tsx
  src/components/ui/animated-beam.tsx
  src/layouts/BaseLayout.astro
  src/lib/middleware/cache.ts
  src/styles/fonts-code.css
  src/styles/fonts.css
Due: pnpm lint --no-warn-ignored, prettier --write

perf: aggressive lazy loading optimization for 84→88+ Lighthouse score
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/layouts/BaseLayout.astro
Due: prettier --write

perf(cache): optimize image cache TTL from 1h to 1 year for Astro /_image endpoint
  src/lib/middleware/cache.ts
Due: pnpm lint --no-warn-ignored, prettier --write

Improve mobile performance and fix image processing in Docker deployment (#58)
  Dockerfile
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/tech-expertise/components/MetricCard.tsx
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/components/layout/header/Logo.astro
  src/components/ui/CodeBlock.tsx
  src/components/ui/animated-beam.tsx
  src/components/ui/progress.tsx
  src/layouts/BaseLayout.astro
  src/lib/middleware/cache.ts
  src/styles/fonts-code.css
  src/styles/fonts.css
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

Improve mobile performance and fix image processing in Docker deployment (#58) (#60)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/pr-preview.yml
  Dockerfile
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/tech-expertise/components/MetricCard.tsx
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/components/layout/header/Logo.astro
  src/components/ui/CodeBlock.tsx
  src/components/ui/animated-beam.tsx
  src/components/ui/progress.tsx
  src/layouts/BaseLayout.astro
  src/lib/middleware/cache.ts
  src/lib/middleware/error-handler.ts
  src/lib/middleware/logging.ts
  src/middleware.ts
  src/pages/[locale]/404.astro
  src/pages/[locale]/500.astro
  src/styles/fonts-code.css
  src/styles/fonts.css
  types/global.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

feat(ui): add useOutsideClick hook for expandable components
  src/hooks/index.ts
  src/hooks/useOutsideClick.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix(workflow): fix card positioning with SVG unit dimensions
  src/components/features/workflow/cards/StepCard.tsx
  src/components/features/workflow/cards/step-card-variants.ts
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/workflow-constants.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): remove unused cardX and cardY from positions
  src/components/features/workflow/workflow-constants.ts
  types/workflow.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat(workflow): add expandable behavior to StepCard
  src/components/features/workflow/cards/StepCard.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

test(workflow): add tests for expandable cards behavior
  package.json
  pnpm-lock.yaml
  src/components/features/workflow/cards/__tests__/StepCard.test.tsx
  src/hooks/__tests__/useOutsideClick.test.tsx
  src/test/setup.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix(workflow): remove layout prop and relative wrapper to fix Y positioning
  src/components/features/workflow/cards/StepCard.tsx
  src/components/features/workflow/interactive/WorkflowCardsExpandable.tsx
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/workflow-constants.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix(test): fix test setup and test failures
  src/components/features/workflow/cards/__tests__/StepCard.test.tsx
  src/hooks/__tests__/useOutsideClick.test.tsx
  src/test/setup.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): convert StepCard to React component
  src/components/features/workflow/cards/StepCard.tsx
  src/components/ui/patterns/PatternBackground.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

feat(workflow): add expandable cards orchestrator
  src/components/features/workflow/interactive/WorkflowCardsExpandable.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

feat(workflow): use grid layout to uniformize card heights
  src/components/features/workflow/cards/StepCard.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

feat(workflow): integrate expandable cards in WorkflowJourney
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
Due: prettier --write

refactor(workflow): consolidate StepCard with fine-grained composition
  src/components/features/workflow/cards/StepCard.astro
  src/components/features/workflow/cards/StepCard.tsx
  src/components/features/workflow/cards/StepCardAstro.astro
  src/components/features/workflow/cards/StepCardContainer.astro
  src/components/features/workflow/cards/__tests__/StepCard.test.tsx
  src/components/features/workflow/cards/parts/IconBadge.tsx
  src/components/features/workflow/cards/parts/NumberBadge.tsx
  src/components/features/workflow/cards/parts/ProgressBar.tsx
  src/components/features/workflow/cards/parts/PulseElements.tsx
  src/components/features/workflow/cards/parts/StepCardContainer.tsx
  src/components/features/workflow/cards/parts/StepCardContent.tsx
  src/components/features/workflow/cards/parts/StepCardDescription.tsx
  src/components/features/workflow/cards/parts/StepCardFooter.tsx
  src/components/features/workflow/cards/parts/StepCardGradientOverlay.tsx
  src/components/features/workflow/cards/parts/StepCardHeader.tsx
  src/components/features/workflow/cards/parts/StepCardTitle.tsx
  src/components/features/workflow/cards/step-card-variants.ts
  src/components/features/workflow/interactive/WorkflowCardsExpandable.tsx
  src/components/features/workflow/interactive/WorkflowCardsLayer.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): simplify StepCard wrapper architecture
  src/components/features/workflow/cards/StepCard.wrapper.astro
  src/components/features/workflow/cards/StepCardContainer.astro
  src/components/features/workflow/interactive/WorkflowCardsLayer.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/timeline/MobileTimeline.astro
Due: prettier --write

fix(workflow): restore modal functionality and fix card positioning
  src/components/features/workflow/cards/ExpandedCardModal.tsx
  src/components/features/workflow/cards/StepCard.tsx
  src/components/features/workflow/cards/__tests__/StepCard.test.tsx
  src/components/features/workflow/cards/parts/ProgressBar.tsx
  src/components/features/workflow/cards/parts/StepCardContent.tsx
  src/components/features/workflow/cards/parts/progress-bar-variants.ts
  src/components/features/workflow/cards/step-card-variants.ts
  src/components/features/workflow/illustrations/DeploymentIllustration.tsx
  src/components/features/workflow/illustrations/DesignIllustration.tsx
  src/components/features/workflow/illustrations/DevelopmentIllustration.tsx
  src/components/features/workflow/illustrations/DiscoveryIllustration.tsx
  src/components/features/workflow/illustrations/SupportIllustration.tsx
  src/components/features/workflow/illustrations/TestingIllustration.tsx
  src/components/features/workflow/illustrations/index.ts
  src/components/features/workflow/interactive/WorkflowCardsExpandable.tsx
  src/components/features/workflow/step-designs.ts
  src/components/features/workflow/workflow-constants.ts
  src/components/features/workflow/workflow-step-data.ts
  src/i18n/locales/en/pages/workflow.ts
  src/i18n/locales/fr/pages/workflow.ts
  src/styles/design-tokens.css
  types/workflow.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): unify card rendering with Tailwind responsive classes
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/workflow/cards/StepCard.tsx
  src/components/features/workflow/cards/StepCard.wrapper.astro
  src/components/features/workflow/cards/__tests__/StepCard.test.tsx
  src/components/features/workflow/cards/parts/IconBadge.tsx
  src/components/features/workflow/cards/parts/NumberBadge.tsx
  src/components/features/workflow/cards/parts/ProgressBar.tsx
  src/components/features/workflow/cards/parts/StepCardContent.tsx
  src/components/features/workflow/cards/parts/StepCardDescription.tsx
  src/components/features/workflow/cards/parts/StepCardHeader.tsx
  src/components/features/workflow/cards/parts/StepCardTitle.tsx
  src/components/features/workflow/cards/step-card-variants.ts
  src/components/features/workflow/interactive/WorkflowCardsExpandable.tsx
  src/components/features/workflow/interactive/WorkflowCardsLayer.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/interactive/workflow-positioning.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): implement CSS Grid for uniform card section alignment
  src/components/features/workflow/cards/ExpandedCardModal.tsx
  src/components/features/workflow/cards/StepCard.tsx
  src/components/features/workflow/cards/__tests__/StepCard.test.tsx
  src/components/features/workflow/cards/parts/ProgressBar.tsx
  src/components/features/workflow/cards/parts/StepCardContent.tsx
  src/components/features/workflow/cards/parts/StepCardDescription.tsx
  src/components/features/workflow/cards/parts/StepCardFooter.tsx
  src/components/features/workflow/cards/parts/StepCardTitle.tsx
  src/components/features/workflow/cards/step-card-variants.ts
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/interactive/workflow-positioning.ts
  src/components/features/workflow/workflow-constants.ts
  src/styles/design-tokens.css
Due: pnpm lint --no-warn-ignored, prettier --write

feat(i18n): implement full bilingual workflow cards with useI18n hook
  src/components/features/workflow/cards/ExpandedCardModal.tsx
  src/components/features/workflow/workflow-step-data.ts
  src/i18n/locales/en/pages/workflow.ts
  src/i18n/locales/fr/pages/workflow.ts
  types/workflow.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat(workflow): enhance cards with sales copywriting and modern design
  CLAUDE.md
  src/components/features/workflow/cards/ExpandedCardModal.tsx
  src/components/features/workflow/cards/StepCard.tsx
  src/components/features/workflow/cards/StepCard.wrapper.astro
  src/components/features/workflow/cards/__tests__/StepCard.test.tsx
  src/components/features/workflow/interactive/WorkflowCardsExpandable.tsx
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/workflow-constants.ts
  src/i18n/locales/en/pages/workflow.ts
  src/i18n/locales/fr/pages/workflow.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): redesign expanded modal with minimal compact style
  src/components/features/workflow/cards/ExpandedCardModal.tsx
  src/components/features/workflow/expanded/ModalBenefitsGrid.tsx
  src/components/features/workflow/expanded/ModalDeliverablesList.tsx
  src/components/features/workflow/expanded/ModalHeroSection.tsx
  src/components/features/workflow/expanded/ModalOverviewPanel.tsx
  src/components/features/workflow/expanded/ModalVisualTimeline.tsx
  src/components/features/workflow/expanded/glass-constants.ts
  src/components/features/workflow/expanded/glass/GlassPanel.tsx
  src/components/features/workflow/expanded/glass/glass-panel-variants.ts
  src/components/features/workflow/workflow-animation-config.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): enhance modal with premium benefits cards
  CLAUDE.md
  src/components/features/workflow/cards/ExpandedCardModal.tsx
  src/components/features/workflow/expanded/ModalBenefitsGrid.tsx
  src/components/features/workflow/expanded/ModalDeliverablesList.tsx
  src/components/features/workflow/expanded/ModalOverviewPanel.tsx
  src/i18n/locales/en/pages/workflow.ts
  src/i18n/locales/fr/pages/workflow.ts
  src/styles/animations.css
  src/styles/keyframes.css
Due: pnpm lint --no-warn-ignored, prettier --write

refactor(workflow): replace custom SVG illustrations with Lucide icons
  src/components/features/workflow/expanded/ModalHeroSection.tsx
  src/components/features/workflow/illustrations/DeploymentIllustration.tsx
  src/components/features/workflow/illustrations/DesignIllustration.tsx
  src/components/features/workflow/illustrations/DevelopmentIllustration.tsx
  src/components/features/workflow/illustrations/DiscoveryIllustration.tsx
  src/components/features/workflow/illustrations/SupportIllustration.tsx
  src/components/features/workflow/illustrations/TestingIllustration.tsx
Due: pnpm lint --no-warn-ignored, prettier --write
