Repository NextNodeSolutions/nextnode-front: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["pnpm lint --no-warn-ignored"],
	"*.{js,jsx,ts,tsx,astro,json,jsonc,md}": ["prettier --write"],
	"package.json": ["better-sort-package-json"]
}

refactor: move navigation types to constants file
  src/components/layout/header/Navigation.astro
  src/components/layout/header/mobile/MobileMenu.astro
  src/lib/constants.ts
  types/i18n.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: simplify navbar architecture and remove prop drilling
  src/components/layout/header/Controls.astro
  src/components/layout/header/Header.astro
  src/components/layout/header/Navigation.astro
  src/components/layout/header/mobile/MobileMenu.astro
Due: prettier --write

refactor: extract Workflow section into standalone component
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/pages/[locale]/index.astro
Due: prettier --write

refactor: extract hardcoded hero text to i18n translations
  src/components/features/marketing/hero/DashboardMockup.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: remove unused ArrowRight import from PremiumHero
  src/components/features/marketing/hero/PremiumHero.astro
Due: prettier --write

fix: translate dashboard stat card labels
  src/components/features/marketing/hero/DashboardMockup.astro
Due: prettier --write

fix: translate badge rating text to French
  src/i18n/locales/fr/pages/home.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat: add full-page hero with scroll indicator
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/ui/ScrollIndicator.astro
Due: prettier --write

refactor: restructure workflow translations and remove how-we-work page
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/ui/ScrollIndicator.astro
  src/i18n/locales/en/common.ts
  src/i18n/locales/en/index.ts
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/en/pages/how-we-work.ts
  src/i18n/locales/en/pages/workflow.ts
  src/i18n/locales/fr/common.ts
  src/i18n/locales/fr/index.ts
  src/i18n/locales/fr/pages/home.ts
  src/i18n/locales/fr/pages/workflow.ts
  src/lib/i18n/translate-utils.ts
  src/pages/404.astro
  src/pages/500.astro
  src/pages/[locale]/how-we-work.astro
  types/workflow.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: improve ScrollIndicator animations and transitions
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/ui/ScrollIndicator.astro
Due: prettier --write

fix: resolve icon jitter and erratic movement in OrbitingTech animation
  src/components/features/marketing/tech/OrbitingTech.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

feat: add TechTransformation section with orbiting tech visualization
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/tech/TechTransformation.astro
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write

feat: replace pipeline with animated beams in tech transformation section
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/tech/OrbitingTech.tsx
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/marketing/tech/TransformationBeams.tsx
  src/components/ui/animated-beam.tsx
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix: eliminate FOUC and hydration mismatch in TechTransformation section
  src/components/features/marketing/tech/TechTransformation.astro
Due: prettier --write

refactor: centralize OrbitingTech and TechTransformation configurations
  src/components/features/marketing/tech/OrbitingTech.tsx
  src/components/features/marketing/tech/TechGrid.astro
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/marketing/tech/TechTransformationObserver.ts
  src/components/features/marketing/tech/TransformationBeams.tsx
  src/lib/config/marketing/orbiting-tech-config.ts
  src/lib/config/marketing/tech-animation-config.ts
  src/lib/config/marketing/transformation-beams-config.ts
  src/lib/ui/marketing-constants.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: replace custom CSS with Tailwind utilities in TechTransformation
  src/components/features/marketing/hero/DashboardMockup.astro
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/ui/ScrollIndicator.astro
  src/lib/config/marketing/tech-animation-config.ts
  src/styles/animations.css
Due: pnpm lint --no-warn-ignored, prettier --write

feat: improve scroll-triggered animations for workflow and tech sections
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/marketing/tech/TechTransformationObserver.ts
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/workflow/WorkflowObserver.ts
  src/lib/config/marketing/tech-animation-config.ts
  src/lib/config/workflow/workflow-animation-config.ts
  src/styles/animations.css
Due: pnpm lint --no-warn-ignored, prettier --write

docs: document animation system architecture in CLAUDE.md
  CLAUDE.md
Due: prettier --write

refactor: optimize mobile responsive design and remove Tailwind constants
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/services/ServicesGrid.astro
  src/components/features/marketing/stats/StatsSection.tsx
  src/components/features/marketing/tech/OrbitingTech.tsx
  src/components/features/marketing/tech/TechGrid.astro
  src/components/features/marketing/tech/TechTransformation.astro
  src/components/features/marketing/tech/TransformationBeams.tsx
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/marketing/workflow/WorkflowTimeline.astro
  src/components/features/pricing/PricingCard.astro
  src/components/ui/ScrollIndicator.astro
  src/components/ui/animated-beam.tsx
  src/i18n/locales/en/common.ts
  src/i18n/locales/fr/common.ts
  src/lib/config/marketing/tech-animation-config.ts
  src/lib/config/marketing/transformation-beams-config.ts
  src/lib/config/workflow/workflow-animation-config.ts
  src/lib/ui/marketing-constants.ts
  src/lib/ui/pricing-constants.ts
Due: pnpm lint --no-warn-ignored, prettier --write

feat: add TechExpertiseBento section and improve UX consistency
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/hero/DashboardMockup.astro
  src/components/features/marketing/services/ServiceCard.astro
  src/components/features/marketing/stats/StatsSection.tsx
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/features/marketing/tech/OrbitingTech.tsx
  src/components/features/marketing/workflow/WorkflowTimeline.astro
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: improve responsive layout and animated beams
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/tech/TransformationBeams.tsx
  src/components/ui/animated-beam.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: redesign Final CTA section with conversion-focused design
  src/components/features/marketing/cta/CTASection.astro
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: redesign TechExpertiseBento with quality badges and metrics
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write

fix: ensure all user-facing text uses i18n translation system
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/ui/ScrollIndicator.astro
  src/i18n/locales/en/common.ts
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/common.ts
  src/i18n/locales/fr/pages/home.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix: optimize TechExpertiseBento responsive layout for better card sizing
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/ui/progress.tsx
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: migrate CTA section styles from CSS to Tailwind utilities
  src/components/features/marketing/cta/CTASection.astro
Due: prettier --write

refactor: replace hardcoded SVG icons with Lucide React components
  src/components/features/marketing/services/ServiceCard.astro
  src/components/features/marketing/services/ServicesGrid.astro
Due: prettier --write

refactor: use ComponentRef type import in Progress component
  src/components/ui/progress.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

fix: correct qualityBadges structure to use title/subtitle instead of label/value
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: add @radix-ui/react-progress dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

refactor: consolidate workflow gradient definitions and improve i18n
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/interactive/WorkflowJourneyOptimized.astro
  src/components/features/workflow/interactive/WorkflowSVGLayer.astro
  src/components/features/workflow/visual/StepIllustrations.tsx
  src/components/features/workflow/visual/WorkflowGradients.astro
  src/components/features/workflow/visual/WorkflowPath.astro
  src/i18n/locales/en/common.ts
  src/i18n/locales/fr/common.ts
Due: pnpm lint --no-warn-ignored, prettier --write

perf: optimize TechExpertiseBento bundle size (820kB → 35kB, -96%)
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/features/marketing/tech-expertise/components/BentoCard.tsx
  src/components/features/marketing/tech-expertise/components/CounterMetric.tsx
  src/components/features/marketing/tech-expertise/components/InfiniteMarquee.tsx
  src/components/features/marketing/tech-expertise/components/LighthouseGauges.tsx
  src/components/features/marketing/tech-expertise/components/MetricCard.tsx
  src/components/features/marketing/tech-expertise/components/PerformanceMetricItem.tsx
  src/components/features/marketing/tech-expertise/components/PerformanceMetrics.tsx
  src/components/features/marketing/tech-expertise/components/index.ts
  src/components/features/marketing/tech-expertise/hooks/index.ts
  src/components/features/marketing/tech-expertise/hooks/useCounterAnimation.ts
  src/components/features/marketing/tech-expertise/hooks/useScrollAnimation.ts
  src/components/ui/CodeBlock.tsx
  src/styles/prism-nord.css
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: centralize icon mapping and promote useScrollAnimation hook
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/features/marketing/stats/StatsSection.tsx
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/features/marketing/tech-expertise/components/PerformanceMetricItem.tsx
  src/components/features/marketing/tech-expertise/hooks/index.ts
  src/components/ui/CodeBlock.tsx
  src/hooks/index.ts
  src/hooks/useScrollAnimation.ts
  src/lib/ui/icon-mapper.tsx
  src/pages/[locale]/pricing.astro
  src/styles/animations.css
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: replace PremiumHero custom CSS with Tailwind-only component
  src/components/features/marketing/hero/PremiumCalButton.tsx
  src/components/features/marketing/hero/PremiumHero.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: unify Cal.com buttons with CVA and restore gradient animation
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumCalButton.tsx
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/ui/GradientCalButton.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: simplify GradientCalButton to use static hover gradient
  src/components/features/marketing/cta/CTASection.astro
  src/components/features/marketing/hero/PremiumHero.astro
  src/components/ui/GradientCalButton.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: consolidate service card icons through centralized mapper
  src/components/features/marketing/services/ServiceCard.astro
  src/i18n/locales/en/pages/home.ts
  src/i18n/locales/fr/pages/home.ts
  src/lib/ui/icon-mapper.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: centralize all keyframe animations to animations.css
  src/components/common/GradientCircle.astro
  src/components/features/marketing/services/ServicesGrid.astro
  src/components/features/marketing/stats/StatsCounter.tsx
  src/components/features/marketing/stats/StatsSection.tsx
  src/components/features/marketing/tech/TechGrid.astro
  src/components/features/marketing/workflow/WorkflowSection.astro
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingHero.astro
  src/components/features/workflow/interactive/WorkflowCardsLayer.astro
  src/components/features/workflow/interactive/WorkflowJourney.astro
  src/components/features/workflow/timeline/TimelineNode.astro
  src/components/layout/header/Navigation.astro
  src/components/ui/animation/AnimatedList.astro
  src/styles/animations.css
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: simplify InfiniteMarquee to horizontal-only with CVA variants
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/features/marketing/tech-expertise/components/InfiniteMarquee.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: transform TechExpertiseBento to composition pattern
  src/components/features/marketing/tech-expertise/TechExpertiseBento.tsx
  src/components/features/marketing/tech-expertise/components/BentoCodeExample.tsx
  src/components/features/marketing/tech-expertise/components/BentoDevTools.tsx
  src/components/features/marketing/tech-expertise/components/BentoLighthouse.tsx
  src/components/features/marketing/tech-expertise/components/BentoPerformanceMetrics.tsx
  src/components/features/marketing/tech-expertise/components/BentoQualityBadges.tsx
  src/components/features/marketing/tech-expertise/components/BentoSEO.tsx
  src/components/features/marketing/tech-expertise/components/LighthouseGauges.tsx
  src/components/features/marketing/tech-expertise/components/PerformanceMetrics.tsx
  src/components/features/marketing/tech-expertise/components/index.ts
  src/lib/config/metrics-config.ts
  src/pages/[locale]/index.astro
Due: pnpm lint --no-warn-ignored, prettier --write
