Repository NextNodeSolutions/nextnode-front: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["pnpm lint --no-warn-ignored"],
	"*.{js,jsx,ts,tsx,astro,json,jsonc,md}": ["prettier --write"],
	"package.json": ["better-sort-package-json"]
}

feat: migrate all console logging to structured logger system
  pnpm-lock.yaml
  src/components/features/marketing/interaction/StartProjectModalContent.tsx
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/layouts/BaseLayout.astro
  src/lib/email/providers/resend.ts
  src/lib/i18n/utils.ts
  src/lib/logging/index.ts
  src/middleware.ts
  src/pages/debug/config.ts
  src/pages/health.ts
  src/pages/metrics.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: update warning logs to use logger.warn in i18n utilities
  package.json
  pnpm-lock.yaml
  src/lib/i18n/utils.ts
  src/test/setup.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

Upgrade logging system and enhance email configuration (#40)
  .dockerignore
  .lintstagedrc.json
  CONFIG.md
  EMAIL.md
  README_CHANGESETS.md
  TAILWIND_TO_PIXELS_REFERENCE.md
  astro.config.mjs
  build-clean.sh
  config/dev.json
  config/local.json
  config/prod.json
  docs/DEPLOYMENT.md
  emails/preview-project-request.tsx
  package.json
  pnpm-lock.yaml
  scripts/setup-dns.sh
  scripts/setup-fly-apps.sh
  src/components/features/marketing/interaction/StartProjectModalContent.tsx
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/layouts/BaseLayout.astro
  src/lib/email/providers/index.ts
  src/lib/email/providers/resend.ts
  src/lib/email/templates/index.ts
  src/lib/email/types/email.ts
  src/lib/email/utils/index.ts
  src/lib/i18n/utils.ts
  src/lib/logging/index.ts
  src/middleware.ts
  src/pages/api/send-email.ts
  src/pages/debug/config.ts
  src/pages/health.ts
  src/pages/metrics.ts
  src/test/setup.ts
  src/types/config-schema.d.ts
  types/config.d.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix: resolve merge conflicts in pricing components
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingFAQ.astro
  src/components/features/pricing/PricingHero.astro
  src/layouts/BaseLayout.astro
Due: prettier --write

fix: re-enable config manager for email functionality
  src/layouts/BaseLayout.astro
Due: prettier --write

fix: correct GitHub workflow references to existing deploy.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

fix: add required workflow parameters for Railway deployment
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

chore: various fixes
  docs/DEPLOYMENT.md
  emails/preview-project-request.tsx
  src/components/features/marketing/interaction/StartProjectModalContent.tsx
  src/layouts/BaseLayout.astro
  src/lib/config-types.ts
  src/lib/email/index.ts
  src/lib/email/providers/resend.ts
  src/lib/email/service.ts
  src/lib/email/templates/ProjectRequest.tsx
  src/lib/email/utils/index.ts
  src/lib/email/utils/render.ts
  src/lib/email/utils/validation.ts
  src/middleware.ts
  src/pages/api/send-email.ts
  tsconfig.json
  types/email.ts
  types/workflow.d.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix: add types/ folder to Docker build to resolve TypeScript errors
  Dockerfile
Due: none

fix: correct GitHub workflow parameter name from run-test to run-tests
  .github/workflows/test.yml
Due: none

feat: migrate to automatic config type generation with Astro plugin
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  types/config.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

feat: upgrade @nextnode/config-manager to v3.1.0 and simplify Docker build
  Dockerfile
  package.json
  pnpm-lock.yaml
  types/config.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix: resolve Docker build issue with husky in production
  Dockerfile
Due: none

fix: resolve Docker build issue with husky in production (#42)
  Dockerfile
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  types/config.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: migrate platform and reorganize project structure
  CHANGELOG.md
  Dockerfile
  TAILWIND_TO_PIXELS_REFERENCE.md
  fly.toml
  package.json
  pnpm-lock.yaml
  railway.toml
  src/components/features/marketing/interaction/start-project-modal.tsx
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/components/features/pricing/pricing-config.ts
  src/i18n/locales/en/pages/pricing.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/lib/i18n/translate-utils.ts
  src/lib/i18n/types.ts
  src/lib/ui/pricing-constants.ts
  types/env.d.ts
  types/global.d.ts
  types/plans.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: decompose middleware into specialized modules
  src/lib/middleware/i18n.ts
  src/lib/middleware/logging.ts
  src/lib/middleware/metrics.ts
  src/lib/middleware/url-mapping.ts
  src/lib/middleware/utils.ts
  src/middleware.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix: resolve ERR_MODULE_NOT_FOUND React error with multi-stage Docker build
  Dockerfile
Due: none

docs: update README.md and CLAUDE.md to reflect recent architectural changes
  CLAUDE.md
  README.md
Due: prettier --write

fix: optimize healthcheck configuration for Railway deployment
  Dockerfile
  railway.toml
Due: none

chore: formated
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ui/forms/select.tsx
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix: resolve ERR_MODULE_NOT_FOUND React error with multi-stage Docker build (#43)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  CHANGELOG.md
  CLAUDE.md
  Dockerfile
  README.md
  TAILWIND_TO_PIXELS_REFERENCE.md
  astro.config.mjs
  fly.toml
  package.json
  pnpm-lock.yaml
  railway.toml
  src/components/features/marketing/interaction/start-project-modal.tsx
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/components/features/pricing/pricing-config.ts
  src/components/ui/forms/select.tsx
  src/i18n/locales/en/pages/pricing.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/lib/i18n/translate-utils.ts
  src/lib/i18n/types.ts
  src/lib/middleware/i18n.ts
  src/lib/middleware/logging.ts
  src/lib/middleware/metrics.ts
  src/lib/middleware/url-mapping.ts
  src/lib/middleware/utils.ts
  src/lib/ui/pricing-constants.ts
  src/middleware.ts
  types/env.d.ts
  types/global.d.ts
  types/plans.ts
  vitest.config.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

fix: fixed healthcheck
  src/lib/middleware/utils.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: updated from eslint to biome + prettier 2
  emails/preview-project-request.tsx
  src/components/features/marketing/interaction/StartProjectModalContent.tsx
  src/components/features/pricing/PricingFAQAccordion.tsx
  src/components/features/workflow/content/faq/FAQApp.tsx
  src/components/features/workflow/content/faq/FAQItem.tsx
  src/components/features/workflow/content/faq/FAQSearchBar.tsx
  src/components/features/workflow/content/faq/HighlightedText.tsx
  src/components/features/workflow/content/faq/hooks.ts
  src/components/features/workflow/content/faq/types.ts
  types/config.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: updated from eslint to biome + prettier 3
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/components/features/workflow/content/faq/FAQApp.tsx
  src/components/features/workflow/content/faq/FAQCategoryFilter.tsx
  src/components/features/workflow/content/faq/FAQItem.tsx
  src/components/features/workflow/content/faq/FAQSearchBar.tsx
  src/components/features/workflow/content/faq/hooks.ts
  src/components/features/workflow/interactive/StepModal.tsx
  src/components/features/workflow/interactive/WorkflowJourneyInteractive.tsx
  src/hooks/useCardEventListeners.ts
  src/lib/core/metrics.ts
  src/lib/i18n/astro.ts
  src/lib/i18n/context-provider.tsx
  src/lib/i18n/react.tsx
  src/lib/i18n/utils.ts
  src/lib/middleware/utils.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: updated from eslint to biome + prettier 4
  src/components/features/workflow/content/faq/hooks.ts
  src/lib/core/metrics.ts
  src/lib/email/providers/resend.ts
  src/lib/i18n/react.tsx
  src/lib/i18n/utils.ts
  src/lib/middleware/utils.ts
  types/config.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

chore: updated from eslint to biome + prettier 5
  pnpm-lock.yaml
  src/components/features/marketing/interaction/StartProjectModalContent.tsx
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/components/features/workflow/content/faq/FAQApp.tsx
  src/components/features/workflow/content/faq/FAQCategoryFilter.tsx
  src/components/features/workflow/content/faq/FAQItem.tsx
  src/components/features/workflow/content/faq/HighlightedText.tsx
  src/components/features/workflow/interactive/StepModal.tsx
Due: pnpm lint --no-warn-ignored, prettier --write

fix: deleted conflict lintstaged
  package.json
Due: prettier --write, better-sort-package-json

fix: exclude auto-generated config types from git tracking
  .gitignore
  .husky/commit-msg
  types/config.d.ts
Due: pnpm lint --no-warn-ignored, prettier --write

fix: fixed nextnode standards package
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

chore: fixed standards type
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/features/marketing/interaction/StartProjectModalContent.tsx
  src/components/features/marketing/interaction/start-project-modal.tsx
  src/components/features/pricing/PricingFAQAccordion.tsx
  src/components/features/pricing/ProfessionalProjectModal.tsx
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/components/features/workflow/content/faq/FAQCategoryFilter.tsx
  src/components/features/workflow/content/faq/FAQItem.tsx
  src/components/features/workflow/content/faq/HighlightedText.tsx
  src/components/features/workflow/interactive/StepModal.tsx
  src/components/ui/accordion.tsx
  src/components/ui/animation/AnimatedList.tsx
  src/components/ui/forms/FormField.tsx
  src/components/ui/forms/SelectLegacy.tsx
  src/components/ui/forms/button-with-link.tsx
  src/components/ui/forms/button.tsx
  src/components/ui/forms/select.tsx
  src/components/ui/overlays/dialog.tsx
  src/lib/i18n/react.tsx
  src/lib/middleware/i18n.ts
  src/lib/middleware/logging.ts
  src/lib/middleware/metrics.ts
  src/lib/middleware/url-mapping.ts
  src/middleware.ts
Due: pnpm lint --no-warn-ignored, prettier --write, better-sort-package-json

refactor: remove modal system and simplify interactions
  astro.config.mjs
  src/components/features/marketing/hero/hero-content.astro
  src/components/features/marketing/interaction/StartProjectModalContent.tsx
  src/components/features/marketing/interaction/start-project-modal.tsx
  src/components/features/pricing/PricingCard.astro
  src/components/features/pricing/PricingFAQ.astro
  src/components/features/pricing/PricingHero.astro
  src/components/features/pricing/ProfessionalProjectModal.tsx
  src/components/features/pricing/ProfessionalProjectModalContent.tsx
  src/components/features/workflow/interactive/StepModal.tsx
  src/components/features/workflow/interactive/WorkflowJourneyInteractive.tsx
  src/components/ui/modals/BaseModal.tsx
  src/components/ui/overlays/dialog.tsx
  src/components/ui/overlays/glassmorphic-overlay.tsx
  src/components/ui/overlays/modal-container.tsx
  src/hooks/index.ts
  src/hooks/useModalState.ts
  src/hooks/useWorkflowModal.ts
  src/i18n/locales/en/components/modal.ts
  src/i18n/locales/en/index.ts
  src/i18n/locales/fr/components/modal.ts
  src/i18n/locales/fr/index.ts
  src/lib/i18n/context-provider.tsx
  src/lib/ui/glassmorphism.ts
  src/lib/ui/modal-utils.ts
  src/pages/[locale]/how-we-work.astro
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: remove all FAQ functionality from application
  src/components/features/pricing/PricingFAQ.astro
  src/components/features/pricing/PricingFAQAccordion.tsx
  src/components/features/workflow/content/faq/FAQApp.tsx
  src/components/features/workflow/content/faq/FAQCategoryFilter.tsx
  src/components/features/workflow/content/faq/FAQItem.tsx
  src/components/features/workflow/content/faq/FAQSearchBar.tsx
  src/components/features/workflow/content/faq/HighlightedText.tsx
  src/components/features/workflow/content/faq/config.ts
  src/components/features/workflow/content/faq/constants.ts
  src/components/features/workflow/content/faq/data.ts
  src/components/features/workflow/content/faq/hooks.ts
  src/components/features/workflow/content/faq/types.ts
  src/i18n/locales/en/components/faq.ts
  src/i18n/locales/en/index.ts
  src/i18n/locales/en/pages/how-we-work.ts
  src/i18n/locales/en/pages/pricing.ts
  src/i18n/locales/fr/components/faq.ts
  src/i18n/locales/fr/index.ts
  src/i18n/locales/fr/pages/how-we-work.ts
  src/i18n/locales/fr/pages/pricing.ts
  src/lib/i18n/translate-utils.ts
  src/lib/i18n/types.ts
  src/lib/i18n/utils.ts
  src/pages/[locale]/how-we-work.astro
  src/pages/[locale]/pricing.astro
  src/utils/faq-helpers.ts
Due: pnpm lint --no-warn-ignored, prettier --write

refactor: remove unused icons.ts file
  src/lib/core/icons.ts
Due: pnpm lint --no-warn-ignored, prettier --write
